@charset "UTF-8";

.positionDetails (@width, @height, @left: 50%, @top: 50%) {
  width: @width;
  height: @height;
  left: @left;
  top: @top;
  .prefixTranslate(-50%);
}

.prefixTranslate (@value) {
  transform: translate(@value, @value);
  -moz-transform: translate(@value, @value);
  -webkit-transform: translate(@value, @value);
}

.position (@type: absolute, @width: auto, @height: auto) {
  position: @type;
  .positionDetails(@width, @height);
}
